<ActionBar backgroundColor="red" title="Wybierz Lokalizację" class="action-bar">
    <NavigationButton ios.systemIcon="19" android.systemIcon="ic_menu_back" (tap)="onClose()"></NavigationButton>
    <StackLayout class="top-layout" orientation="horizontal" horizontalAlignment="left">
        <Label text="Wybierz Lokalizację" fontSize="24"></Label>
    </StackLayout>
</ActionBar>

<StackLayout class="page">
    <ListView [items]="fs.stops" class="list-group">
        <ng-template let-localisation="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout class="list-group-item" rows="auto, *" columns="80, *" (tap)="onClose(localisation)">
                <!--<Image row="0" col="0" src="https://placem.at/people?w=80&txt=0" class="thumb img-circle" rowSpan="2"></Image>-->
                <Label row="0" col="0" [text]="cityIcon" class="fa"></Label>
                <Label row="0" col="1" [text]="localisation.name"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <!--<Button text="Zamknij" (tap)="onClose()"></Button>-->
</StackLayout>
