<ActionBar backgroundColor="red" class="action-bar" title="Wybierz Lokalizację">
    <NavigationButton (tap)="onClose()" android.systemIcon="ic_menu_back" ios.systemIcon="19"></NavigationButton>
    <StackLayout class="top-layout" horizontalAlignment="left" orientation="horizontal">
        <Label fontSize="24" text="Wybierz Lokalizację"></Label>
    </StackLayout>
</ActionBar>

<ListView [items]="fs.stops" class="list-group">
    <ng-template let-even="even" let-i="index" let-localisation="item" let-odd="odd">
        <GridLayout (tap)="onClose(localisation)" class="list-group-item" columns="80, *" rows="auto, *">
            <!--<Image row="0" col="0" src="https://placem.at/people?w=80&txt=0" class="thumb img-circle" rowSpan="2"></Image>-->
            <Label [text]="cityIcon" class="fa" col="0" row="0"></Label>
            <Label [text]="localisation.name" col="1" row="0"></Label>
        </GridLayout>
    </ng-template>
</ListView>
