<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->


<!--<TabView androidTabsPosition="bottom" class="fa" [ngClass]="{'selected': this.as.TabsActive}">
    <StackLayout *tabItem="{title: homeIcon}">
        <page-router-outlet name="homeTab"></page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: this.as.categories[0].imageSrc}">
        <page-router-outlet name="findTab"></page-router-outlet>
    </StackLayout>

</TabView>-->

<!--<Label [text]="'dsgds'"></Label>-->


<page-router-outlet actionBarVisibility="never"></page-router-outlet>
